# Ignore files by ext or name
*.ckpt
*.txt
*.rds
*.xlsx
*.csv
*.html
*.feather
*.tgz
*.json
*.mtx
*.pa
*.parquet
*.pkl
*.png
*.pt
*.sas7bdat
*.spacy
*.tmp
*.pdf
*.insyncdl
*.zip
0.ipynb
0.py
ddp.log


# folders
__pycache__/
wandb/
archive/
checkpoints
/.ipynb_checkpoints/
/.tmp/
/.vector_cache/
/checkpoints/
/data/
/lightning_logs/
/logs/
/log/
/writing/
